<%= form_for(@event, html:{ class: 'well'})  do |f| %>
  <%= render 'shared/errors', model:  @event %>

  <div class="field">
    <%= f.label :create_user_name, '*作成者/主催者' %>
    <%= f.text_field :create_user_name %>
  </div>
  <div class="field">
    <%= f.label :title, '*タイトル' %>
    <%= f.text_field :title %>
  </div>
  <div class="field event-content">
    <%= f.label :description, '*内容' %>
    テンプレートから選択 : <%= collection_select :template, :name, @templates, :id, :name, include_blank: true %><br>
    
    <%= f.text_area :description, size: '5x10',class: 'span6' %>
  </div>
  <div class="field">
    <%= f.label :from_date, '*開始日時' %>
    <%= datetime_select_jp :event, :from_date,
      { minute_step: 15} ,
      { class: 'datetime-selector' }%>
  </div>
  <div class="field">
    <%= f.label :to_date, '*終了日時' %>
    <%= datetime_select_jp :event, :to_date,
      {minute_step: 15} ,
      { class: 'datetime-selector' }%>
  </div>
  <div class="field">
    <%= f.label :location, '*会場' %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :capacity, '募集人数 ( 0を選択すると周知専用イベント->参加募集しない )' %>
    <%= f.select :capacity, num_select_options( 0, 100 ) %>
  </div>
  <div class="field">
    <%= f.label :deadline, '募集締切り' %>
    <%= datetime_select_jp :event, :deadline,
      {minute_step: 15, include_blank: true} ,
      { class: 'datetime-selector' }%>
  </div>
  <div class="actions">
    <%= f.submit '登録', class: 'btn' %>
  </div>
<% end %>
