<h1>Events</h1>

<div class="row-fluid">
  <div class="span3">
    <div class="well-ex">
      <p>基本ATNDですが、ログインあると使ってくれそうにないので名前入力方式にしました。テーブルレイアウトでごめんなさい。
      </p>
      <%= link_to '新規イベント作成', new_event_path, class: 'btn btn-block' %>
      <%= link_to 'イベント検索', new_event_path, class: 'btn btn-block' %>
    </div>
  </div>
  <div class="span9">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="span5">内容</th>
        <th class="span3">会場/日時</th>
        <th>参加人数</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event do %>
            <span id="event-title"><%= event.title %></span><br><%= truncate( event.description, length: 50) %>
          <% end %>
        </td>
        <td><%= "#{mmdd_jp( event.from_date )} #{hhmm( event.from_date )}～#{hhmm( event.to_date )}" %><br>@<%= event.location %></td>
        <td><%= "#{event.attendances.count} / #{event.capacity}人" %></td>
      </tr>


    <% end %>
    </table>
  </div>
</div>

<br />




