<h1>Events</h1>

<div class="row-fluid">
  <div class="span3">
    <div class="well-ex">
      <p>基本ATNDですが、ログインあると使ってくれそうにないので名前入力方式にしました。tag機能、タグクラウド生成くらいまではサポートしようか</p>
      <%= link_to '新規イベント作成', new_event_path, class: 'btn btn-block' %>
      <%= link_to 'イベント検索', '#', class: 'btn btn-block' , disabled: true %>
    </div>
  </div>
  <div class="span9">

    <div class="row-fluid event-list-header">
      <div class="span6 left">
        <b>内容</b>
      </div>
      <div class="span3 center">
        <b>日時/会場</b>
      </div>
      <div class="span3 right">
        <b>参加者</b>
      </div>
    </div>
    <% @events.each do |event| %>
      <%= link_to event, class: 'event-list-link' do %>
        <div class="row-fluid event-list">
          <div class="span6 left">
            <h4><%= event.title %></h4><%= truncate( event.description, length: 50) %>
          </div>
          <div class="span3 center">
            <%= "#{mmdd_jp( event.from_date )} #{hhmm( event.from_date )}～#{hhmm( event.to_date )}" %><br>@<%= event.location %>
          </div>
          <div class="span3 right">
            <% if event.looking_attendances? %>
              <%= "#{event.attendances.count}" %> / <%= "#{event.capacity}人" %>
            <% else %>
              周知専用
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>


  </div>
</div>

<br />




