<p id="notice"><%= notice %></p>
<h1>Events</h1>
<div class="row-fluid">
  <div class="span3">
    <div class="well-ex">
      <a href="<%= "#modal#{@event.id}" %>" role="button" class="btn btn-block" data-toggle="modal">参加する</a>
      <h4>参加者</h4>
      <div class="attendance-counter">
        <p><%= "#{@event.attendances.count} / #{@event.capacity}人" %></p>
      </div>
      <% @event.attendances.each do |attendance| %>
        <div class="single-attendance">
          <b><%= attendance.name %>:</b><%= attendance.comment %>
          <br>
        <%= link_to '参加取消', '#' %>
        </div>
      <% end %>
      <hr>
      <h4>作成者用</h4>
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-block-ex" data-toggle="dropdown" href="#">
          編集
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to '編集', edit_event_path(@event) %></li>
          <li><%= link_to '削除', @event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <!-- dropdown menu links -->
        </ul>
      </div>
    </div>
  </div>
  <div class="span9">

    <h3><%= @event.title %></h3>
    <b>主催者:</b><%= @event.create_user_name %>
    <hr>
      <%= simple_format( @event.description ) %>

    <hr>
    <p>
      <b>日時:</b>
      <%= "#{mmdd_jp(@event.from_date)} #{hhmm(@event.from_date)} ～ #{hhmm( @event.to_date)}" %>
    </p>
    <p>
      <b>会場:</b>
      <%= @event.location %>
    </p>


    <p>
      <b>募集人数:</b>
      <%= @event.capacity %>人
    </p>

    <p>
      <b>締切り:</b>
      <%= mmdd( @event.deadline ) %>
    </p>
    <hr>
    <h4>コメント</h4>
    実装される予定

  </div>
</div>


    <%= render 'attendances/modal_form', event: @event, attendance: @attendance %>


