<p id="notice"><%= notice %></p>

<p>
  <b>タイトル:</b>
  <%= @event.title %>
</p>

<p>
  <b>詳細:</b>
  <%= @event.description %>
</p>

<p>
  <b>日時:</b>
  <%= "#{mmddhhmm(@event.from_date)} ～ #{hhmm( @event.to_date)}" %>
</p>

<p>

<p>
  <b>作成者:</b>
  <%= @event.create_user_name %>
</p>

<p>
  <b>募集人数:</b>
  <%= @event.capacity %>
</p>

<p>
  <b>締切り:</b>
  <%= mmdd( @event.deadline ) %>
</p>

<p>
  <b>参加者:</b>
    <table class="table table-striped table-bordered">
      <thead>
        <th>名前</th>
        <th>コメント</th>
      </thead>
  <% @event.attendances.each do |attendance| %>
      <tr>
        <td class="span2"><%= attendance.name %></td>
        <td><%= attendance.comment %></td>
      </tr>
  <% end %>
    </table>
</p>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
